/* CSS Document */

.toTop {
	background-image:url(../include/totop.gif);
	background-size:contain;
	width:50px;
	height:50px;
	-display:none;
	position:fixed;
	bottom:0;
	right:10%;
	z-index:100;
	filter: hue-rotate(90deg);
	cursor:pointer;
}


a:focus , h4{
	border:none;
	box-shadow:none;
	outline:none;
	
}
.bar {
	text-indent:10px;
	color:rgba(255,255,255,1.00);
	
}

.temp {  /*把Rotator 註解掉要多出來的距離設定*/
	margin-top:30px !important;
}

.main-font{
	font-family: 'Oswald', sans-serif !important;
}
.hasNoti{
	background:rgba(241,80,82,1.00);
	
}
