@charset "utf-8";
/* CSS Document */

.assign-info-outer {
	padding:0 40px 40px 40px;
	background:#fff;
	border-radius: 10px;
}
.assignInfo {
	color:#41626F;
	padding:20px 0 ;
}
.assignInfo-line{
	border-color:rgba(0,0,0,1.00) ; 
	
}
.assignInfo-photo {
	margin-top:20px;
	text-align:center;
}
.assignInfo-photo > img{
	width:80%;
	display:inline-block;
	text-align:center;
}
.assignInfo-link {
	margin-top:10px;
	width:100%;
}
.game {
	cursor:pointer;
}

.intro{
	margin-top: 20px;
}

.requirement{
	margin-top: 20px;
}

.requirement li{
	padding-top: 5px;
}

.links{
	margin-top: 20px;
}