/* CSS Document */



.bug{
	border:rgba(240,239,255,1.00) solid 1px;
	background:rgba(250,250,255,1.00);	
	padding:10px 15px;
	_margin-top:20px;
	-webkit-transition:background-color .2s  ease ;
	transform:background-color .2s  ease ;
}
.bug:hover{
	background:rgba(240,240,255,1.00);	

}
.view-bug-img{
	width:166px;
	height:100px;
}
.view-bug-des , add-bug-des{
	font-size:16px;
	_padding-top:10px;
	padding: 0 0px 0 0;
}
.view-bug-time{
	margin-top:10px;
	color:gray;
	display:block;	
}
.bug-func-btns{
	height:100px;
	width:50px;
}
.bug-func-btn , .bug-status{
	display:block;
	width:50px;
	height:50%;
	text-align:center ;
	line-height:50px !important;
	cursor:pointer;
	font-size:20px !important;
	_background-size:70% 70%;
	_background-position:50% 50%;
	_background:rgba(236,236,236,1.00);
	_border:rgba(214,214,214,1.00) solid 1px;

		transition: background-size .1s ease-in;
		-moz-transition: background-size .1s ease-in;
		-ms-transition: background-size .1s ease-in;
		-o-transition: background-size .1s ease-in;
		-webkit-transition: background-size .1s ease-in;

}
.bug-func-btn-lg , .bug-status{
	height:100px;
	line-height:100px !important;
}
.bug .glyphicon {
	font-size:40px !important;
	line-height:inherit !important;
}
.bug-status {
	cursor:auto;
	
}

.view-bug-img{
	background-repeat:no-repeat !important;
	background-size:contain !important;
	background-position:center center !important;
	background-color:white !important;
	
}
.bug-func-btn:hover{
	background-size:100% 100% 
}


.add-des-input {
	width:100%;
	min-height:100px;
	resize:none;
}

.add-bug-img {
	background-color:rgba(255,255,255,1.00);

	background-image:url(../img/photo-upload.jpg) ;
	background-size:contain;
	background-position:center center;
	background-repeat:no-repeat;
}

.bug-bugger-control, .bug-reporter-control, .bug-guest-control, .bug-step{
 	display:none;

}




.bug-func-btn.disabled ,.bug-func-btn.disabled:hover{
	color:rgba(194,194,194,1.00);
	cursor:inherit;}
.bug-resolved{
	color:rgba(7,186,108,1.00);
}
.bug-waiting-check , .bug-waiting-accept ,.bug-waiting-update{
	
	color:rgba(150,150,150,1.00);
	
}
.view-bug-time {
	color:rgba(212,212,212,1.00);
}


.fail-bug-btn ,.reject-bug-btn{
	color:rgba(255,121,123,1.00);
	
}.fail-bug-btn:hover ,.reject-bug-btn:hover{
	color:rgba(202,60,62,1.00);
}


.fancybox-title{
	color:rgba(46,165,154,1.00);
	font-size:20px;
}




/* old version



.add-bug-img{
	cursor:pointer;
	
}
.bug-img-img{
	position:absolute;
	display:block;
	margin-left: auto;
  margin-right: auto ;
	margin-top:-75px;
	top:50%;
	max-width:100%;
	
}

.fancy {
	width:100%;
	height:100%;
	display:block;
}
.bug-img  {
	max-width: 100%;
	height:150px;
	_background-image:url(../img/bug.jpg);
	background-size:cover;
	position:relative;
	overflow:hidden;
	padding:0 !important; 
}

.bug-des, .add-bug-des {
		min-height:150px;
		background:rgba(252,204,205,1.00);
}
.bug , .add-bug {
	margin:20px 0 0 0  ;
		min-height:150px;
		padding:0;

}
.add-bug-img {
		min-height:150px;
	background:url(../img/photo-upload.jpg);
	background-size:contain;
	background-position:center center;
	background-repeat:no-repeat;
}
/*