html{
	width:100%;
	height:100%;
	_overflow:hidden;
}
body{
	width:100%;
	height:100%;
	background:rgb(129,170,188);
	opacity:1;
	font-family: "Oswald", "微軟正黑體", sans-serif;
}
header{
	width:100%;
	height:55px;
	background:#426172;
	opacity:0.8;
	position:fixed;
	top:0;
}
a,a:hover{
	text-decoration:none;
}
header ul li a{
	color:#fff;
	text-decoration:none;
}
header ul li a:hover{
	color:#FFD700;
	opacity:1;
}
header ul li{
	display:inline-block;
	padding:17px 10px 18px 10px;
}
.notification-info{
	padding:10px;
	font-size:1.1em;
	border-radius: 3px;
}
.notification-info:hover{
	background:#41626F;
	border-radius: 3px;
	color: white;
}
.time-gray-color{
	float:right;
	padding-right:20px;
	color:#80ABBC;
	_width:150px;
	font-size: 12px;
}

_footer{
	width:100%;
	height:40px;
	background:#426172;
	position:absolute;
	bottom:0;
}
.glyphicon{
	margin-right:8px;
	
}

h3{
	text-align: center;
}

#works{
	background-color: white;
	border-radius: 5px;
}

#cards{
	background-color: white;
	border-radius: 5px;
}

hr{
	margin-top: 10px;
	margin-bottom: 10px;
}