body{
	color:rgb(61,94,109);
	background-color:rgb(129,170,188) !important;
	background-color:rgb(129,170,188) !important;
}

.title{
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
}

.cards{
	margin-top: 30px;

}

.block{
	text-align: center;
}

.front img{
	width:100%;
	position: relative;
	top: 0px;
	transition: 0.3s ease-in-out;
}

.back img{
	width:100%;
	position: relative;
	top: 0px;
	z-index: =-1;
}

.front img:hover{
	cursor: pointer;
	position: relative;
	top: -20px;
	transition: 0.3s ease-in-out;
}

.cards{
	transform-style: preserve-3d;
}

.back .show{
	width:85%;
	position: absolute;
	top:0;
	z-index: 10;
	backface-visibility:hidden;
	transform: rotateY(1080deg);
	-webkit-transition: -webkit-transform 1.5s;
}

.gone{
	display: none;
	transition: 0.3s ease-in-out;
}


/*body{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: black;
}

.front img{
	width: 188px;
	height: 240px;
	transition: 0.5s;
}

.front img:hover{
	cursor: pointer;
    -webkit-transform: scale(1.5,1.5);
    -moz-transform:scale(1.5,1.5);
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
}

 img{
	display:inline block;
	width: 188px;
	height: 240px;
}



div.cards{
	display: block;
	width: 800px;
	height:600px;
	margin:auto;
	margin-top: 35px;
	z-index: 40;
}

.block {
	position: absolute;
	
	width: 188px;
	height: 240px;
	
	-webkit-transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 1.5s;
}

.rotated,.mover .block:hover{
		-webkit-transform: rotateY(900deg);


	-webkit-transform: rotateY(540deg);
}

.block .front{
	z-index: 50;
}
.block .back{
	z-index: 10;
}
.rotated .back, .mover .block:hover .back{
	z-index: 90;
}

.side{
	position: absolute;
	-webkit-backface-visibility: hidden;
}

.front{
	color: #fff;
	background-color: black;
	height: 240px;
	width: 188px;

	
}

.back{
	display:block;
    position:abolute; 
	background-color: black;
	width: 188px;
	height: 240px;
	
	-webkit-transform: rotateY(180deg);
}

#block1{
left:20%;
top:250px;
}
#block2{
left:45%;
top:250px;
}
#block3{
left:70%;
top:250px;
}
.gone{
position:absolute;
left:1000px;
top: 1000px;
z-index: -10;

}
*/