body{
	background-color: #80ABBC;
}
.in{
	width:50px;
	height:70px;
	margin-left: 10%;
	margin-top: 1%;
	position:relative;
	display: inline-block;
}
.in:hover{
	cursor:pointer;
}

#bigdiv{
	position:absolute;
	width:100%;
	height:100%;
}
#loading{
	position:absolute;
	top:30%;
	left:40%;
}

#alluserphoto{
	height:50px;
	width:50px;
}
h1{
	font-family: "Oswald", "微軟正黑體", sans-serif;
	text-align: center;
	margin-bottom: 30px;
	color: white;
}
h4{
	font-family: "Oswald", "微軟正黑體", sans-serif;
	font-size: 14px;
	text-align: center;
	color: white;
}

#backtodashboard{
	position: relative;
	left: 45%;
}

#dashboardbtn{
	margin-top: 5%;
	background-color: #41626F;
	border-width: 0px;
}

#dashboardbtn:hover{
	color: #41626F;
	background-color: white;
}